* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration:none;
}





body {
    background-color: #f4f4f4;
}

header {
    background-color: #bbbbbb;
}

nav li {
    display: inline-block;
    padding: 10PX;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

header {
    background-color: #bbb;
    padding: 20px 0;
}

.content {
    width: 940px;
    margin: 0 auto;
}

nav {
    float: right;
    margin-top: 70px;
}