
@import url('https://fonts.googleapis.com/css2?family= Kdam+Thmor+Pro & display=swap') ;




* {
    margin: 0%;
    padding: 0%;
   
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

nav {
    width: 60%;
   
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: aliceblue;
}

 li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family:   'Kdam Thmor Pro', sans-serif;
    background-color: aliceblue;

 }

 a:hover {
    color: #167bf7;
 }

 #logo {
    width: 80px;
    height: auto;
 }






  section{
    background-color: var(--preto-letra);
    color: white;
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primeirapg{
    margin-top: 50px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primeiro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 400px;
}
.primeirafoto{
    margin-right: 50px;
    height: 400px;
}
.primeirotexto{
    margin-left: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.primeirotexto h1{
    font-size: 22px;
    align-self: flex-start;
}
.primeirotexto p{
    font-size: 18px;
    margin-top: 20px;
}

#poço {
    width: 700px;
    height: 322px;
}



/* Estilos do rodapé */
footer {
    background-color: aliceblue;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 2rem 0;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-content p {
    font-size: 14px;
  }
  
  .footer-content a {
    color: #020202;
    text-decoration: none;
    transition: color 0.3s;
  }
  